.transparent_nav{
    background-color:  rgba(228, 220, 220, 0.7);
    width:101.2%;
    height:110px;
    position: fixed;
    margin: -20px;
    }
#nav_list{
    margin-top: 0px;
    margin-bottom: 200px;
    list-style-type:none;
    margin-left: 600px;
    overflow: hidden;
}
#nav_item_1,#nav_item_2,
    #nav_item_3,#nav_item_4{

    color:brown;
    text-decoration: none;
    padding-left: 1em;
    font-size: 20px;
    font-weight: bold;
    font-family: helvetica;
    float: left;
    }

#nav_list{
    margin: 0%;
    margin-top: 25px;
    margin-left: 950px;
}
#ark{
    
    margin-left: 200px;
    float:left;
}
.cta{
    height: 103px;
    width: 101.2%;
    margin:-20px;
    background-color:  rgba(228, 220, 220, 0.7);
}
#cta_link{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(55, 176, 224);
    padding:12px;
    margin-left: 550px;
    
    
    
}
    
#cta_text{
    font-family: Arial, Helvetica, sans-serif;
    color:darkred;
    font-size: 25px;
    display:inline-block;
    margin-left: 20px;
    
}
#section-1{
    
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}
.service_text{
    font-size: 30px;
    margin-left: 32.34%;
    font-family: sans-serif;

}
.flex_services,#ser_1,#ser_2,#ser_3{
    
    padding:0;
    margin: 0;
    list-style-type: none;
    display: flex;
        justify-content: space-between;
    
}
.flex_desc,#desc_1,#desc_2,#desc_3{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
#des_1,#des_2,#des_3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#ser_2,#des_2{
    margin-left: -10%;
}
#ser_3{
    margin-right: 10%;
}
#ser_1{
    margin-left: 5%;
}
.recent_work{
    margin-left: -20px;
    width: 101.7%;

}
img{
    float: left;
    }
        
.test_text{
        font-size: 35px;
        margin-left: 43%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: brown;
}
.flex_tst_images{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.flex_desg{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.flex_descr{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    color:lightslategray;
}
.footer_widget{
    background-color: black;
    height:300px;
    margin:-8px;
    width:101%;
        display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.Location{
    color:white;
    font-family: helvetica;
    padding:10px;
    margin-left: 7%;
    
    
}
.Company{
    color:white;
    font-family: helvetica;
    padding:10px;
    margin-left: 10%;
    
    
}
#comp_list,#comp_item_1,#comp_item_2,#comp_item_3,#comp_item_4{
    list-style-type: none;
    text-decoration: none;
    color:white;
    
}
.Support{
    color:white;
    font-family: helvetica;
    padding:10px;
    margin-left: 10%;
    margin-top: 2px;
}
#sup_list,#sup_item_1,#sup_item_2,#sup_item_3{
    list-style-type: none;
    text-decoration: none;
    color:white;
    
}
.ark_studio{
    color:white;
    font-family: helvetica;
    padding:10px;
    margin-left: 8%;
    margin-top: 2px;
}
.rights{
color:white;
display: block;
font-family: serif;;
font-size: 25px;;
text-align: center;
align-content: center;
}
